name: Deploy Trucking Tracker

on:
  push:
    branches: [ "main" ]

jobs:
  plan:
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: iac

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ----------------------------
      # Azure Login
      # ----------------------------
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # ----------------------------
      # Create SSH key file
      # ----------------------------
      - name: Create SSH Key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key.pem
          chmod 600 ssh_key.pem

      # ----------------------------
      # Terraform
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -reconfigure

#    # ----------------------------
#    # Format Check
#    # ----------------------------
#    - name: Terraform Format
#      run: terraform fmt -check

    # ----------------------------
    # Validate
    # ----------------------------
      - name: Terraform Validate
        run: terraform validate

    # ----------------------------
    # Plan
    # ----------------------------
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: iac/tfplan

  approval:
    needs: terraform-plan
    runs-on: ubuntu-latest
    steps:
      - name: Manual Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          approvers: SandroAndrade
          minimum-approvals: 1
          issue-title: "Approve Terraform Apply"
          issue-body: "Please review the plan artifact before approving."

  apply:
    needs: approval
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: iac
    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - uses: hashicorp/setup-terraform@v3

      - uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: iac

      - run: terraform init -reconfigure
      - run: terraform apply -auto-approve tfplan

      #  SSH
      - name: Export SSH key
        id: sshkey
        run: |
          terraform output -raw ssh_private_key > id_rsa
          chmod 600 id_rsa

      # ----------------------------
      # Install Ansible
      # ----------------------------
      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install ansible -y

      # ----------------------------
      # Run Ansible
      # ----------------------------
      - name: Run Ansible
        #run: ansible-playbook -i ansible/hosts.ini ansible/playbook.yml
        run: |
          terraform -chdir=../iac output -raw vm_ip > ip.txt
          echo "[web]" > hosts.ini
          echo "$(cat ip.txt)" >> hosts.ini

          ansible-playbook -i hosts.ini playbook.yml \
            --user azureuser \
            --private-key ../iac/id_rsa      
