name: Deploy Trucking Tracker

on:
  push:
    branches: [ "main" ]

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: iac

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ----------------------------
      # Azure Login
      # ----------------------------
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # ----------------------------
      # Terraform
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -reconfigure

#    # ----------------------------
#    # Format Check
#    # ----------------------------
#    - name: Terraform Format
#      run: terraform fmt -check

    # ----------------------------
    # Validate
    # ----------------------------
      - name: Terraform Validate
        run: terraform validate

    # ----------------------------
    # Plan
    # ----------------------------
      - name: Terraform Plan
        run: terraform plan -var="ssh_ip=1.1.1.1" -out=tfplan

      - uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: iac/tfplan

  approval:
    needs: terraform-plan
    runs-on: ubuntu-latest
    steps:
      - name: Manual Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          approvers: SandroAndrade95
          minimum-approvals: 1
          issue-title: "Approve Terraform Apply"
          issue-body: "Please review the plan artifact before approving."

  terraform-apply-ansible:
    needs: approval
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: iac
    
    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Detect Runner IP
        id: ip
        run: echo "ip=$(curl -s https://api.ipify.org)" >> $GITHUB_OUTPUT

      - uses: hashicorp/setup-terraform@v3

      - uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: iac

      - run: terraform init -reconfigure
      
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="ssh_ip=${{ steps.ip.outputs.ip }}" \
            tfplan

      #  SSH
      - name: Export SSH key
        id: sshkey
        run: |
          terraform output -raw ssh_private_key > id_rsa
          chmod 600 id_rsa

      # ----------------------------
      # Install Ansible
      # ----------------------------
      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install ansible -y

      # ----------------------------
      # Run Ansible
      # ----------------------------
      - name: Run Ansible
        #run: ansible-playbook -i ansible/hosts.ini ansible/playbook.yml
        run: | 
          terraform output -raw public_ip > vm_ip.txt
          echo "IP detected:"
          cat vm_ip.txt
          echo "[web]" > hosts.ini
          echo "$(cat vm_ip.txt) ansible_user=azureuser ansible_ssh_private_key_file=id_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'" >> hosts.ini
          chmod 600 id_rsa  
          ansible-playbook -i hosts.ini ../ansible/playbook.yml